@import url(options__sidebar.css);

/* logo - conteiner*/
.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    transition: all .5s ease;
}

/* icone do logo */
.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

/* logo name Projeto Timer*/
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 700;
}

/* Hamburguer */
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

/* VAI PRECISAR MUDAR OS VALORES AO COLOCAR A FUNÇÃO */