.bg_icon {
    background: #EF2F3C;
    padding: 15px;
    border-radius: 30%;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.bg_icon:nth-child(even) {
    background: #276FBF;
}

.bg_icon:last-child  {
    background: #F0A202
}

.bg_icon + .bg_icon {
    margin-left: 20px;
}

.bg_icon i {
    font-size: 3em;
    color: white;
}

.bg_icon:hover {
    animation: wobble-hor-bottom 0.8s both;
}

.set_timer{
    outline: none;
    width: 15%;
    border: 2.5px solid #276FBF;
    font-size: 1.1em;
    padding: 15px;
    border-radius: 3px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    margin-right: 50px;
}

.set_timer:focus {
    border: 2.5px solid #F0A202;
}

#section_content-modified{
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.bg_element:first-child {
    background-color: #EF2F3C;
    box-shadow: 2px 2px 5px #EF2F3C;

}

.bg_element:nth-child(2) {
    background-color: #F6F4F3;
    box-shadow: 2px 2px 5px #F6F4F3;

}


.bg_element:last-child {
    background-color: #F0A202;
    box-shadow: 2px 2px 5px #F0A202;
}

/* Só nesta página */
.section_elements{
    flex-wrap: wrap;
}

/* Animações definir tempo */
@keyframes wobble-hor-bottom {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@media (max-width:1500px){
    .set_timer{
        width: 20%;
    }
}
@media (max-width:1000px){
    .set_timer{
        width: 40%;
    }
    .bg_icon{
        padding: 10px;
    }
    .bg_icon i{
        font-size: 2.5rem;
    }
}
@media (max-width:750px){
    #section_content-modified{
        height: 65vh;
    }
    .set_timer{
        width: 90%;
        margin: 0;
    }
    .bg_icon{
        padding: 10px;
    }
    .bg_icon i{
        font-size: 2.5rem;
    }
    .bg_element h2 {
        font-size: 3em;
        line-height: 100px;
    }
    .bg_element h3 {
        font-size: 1.2em;
        font-weight: 200;
    }
    #title_content{
        font-size: 2em;
    }
    .section_elements-cards{
        height: 100%;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .section_elements-cards > .bg_element{
        margin-left: 0px;
        margin-bottom: 10px;
        width: 10em;
    }
    #input_Minutos{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}